vm_name,subscription_id,environment,location,vm_size,cache_disk_size_gb,resource_group_name,network_resource_group_name,existing_vnet_resource_group,existing_vnet_name,existing_subnet_name,storage_account_name,enable_virtual_wan,site,critical_infrastructure,external_facing,owner,project_name,regulatory_data,service
EXAMPLE-VM-01,xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx,PD,South Central US,Standard_D8ads_v5,1024,Example-Nasuni-pd-scus-rg,Example-Nasuni-Network-pd-scus-rg,Example-Nasuni-Network-pd-scus-rg,Example-Nasuni-Network-pd-scus-vnet,Example-Nasuni-Network-pd-scus-vnet-virtualmachine-subnet,examplenasunipdst,false,Houston,Yes,No,your.email@company.com,Nasuni,Yes,Nasuni
EXAMPLE-VM-02,yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy,PD,Canada Central,Standard_D8ads_v5,1024,Example-Nasuni-pd-cace-rg,Example-Nasuni-Network-pd-cace-rg,Example-Nasuni-Network-pd-cace-rg,Example-Nasuni-Network-pd-cace-vnet,Example-Nasuni-Network-pd-cace-vnet-virtualmachine-subnet,examplecanadast,false,Canada,Yes,No,your.email@company.com,Nasuni,Yes,Nasuni